<mat-sidenav-container class="mat-elevation-z8 content">
  <div class="tech-container">
    <div class="tech-content">
      <div class="tech-title">
        <h1>HTML5</h1>
        <p>XP 820/1000</p>
      </div>
      <div class="tech-progress__bar">
        <circle-progress
          [percent]="progress1"
          [radius]="100"
          [showTitle]="true"
          [showUnits]="true"
          [showSubtitle]="true"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#D3D3D3'"
          [animation]="true"
          [animationDuration]="1200"
          [showImage]="true"
          [imageSrc]="imageHtml"
          [renderOnClick]="false"
          [responsive]="true"
        ></circle-progress>
      </div>
    </div>
    <div class="tech-content">
      <div class="tech-title">
        <h1>CSS</h1><p>XP 750/1000</p>
      </div>
      <div class="tech-progress__bar">
        <circle-progress
          [percent]="progress2"
          [radius]="100"
          [showTitle]="true"
          [showUnits]="true"
          [showSubtitle]="true"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#D3D3D3'"
          [animation]="true"
          [animationDuration]="1200"
          [showImage]="true"
          [imageSrc]="imageCSS"
          [renderOnClick]="false"
          [responsive]="true"
        ></circle-progress>
      </div>
    </div>
    <div class="tech-content">
      <div class="tech-title">
        <h1>JavaScript</h1>
        <p>XP 650/1000</p>
      </div>
      <div class="tech-progress__bar">
        <circle-progress
          [percent]="progress3"
          [radius]="100"
          [showTitle]="true"
          [showUnits]="true"
          [showSubtitle]="true"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#D3D3D3'"
          [animation]="true"
          [animationDuration]="1200"
          [showImage]="true"
          [imageSrc]="imageJavascript"
          [renderOnClick]="false"
          [responsive]="true"
        ></circle-progress>
      </div>
    </div>
    <div class="tech-content">
      <div class="tech-title">
        <h1>Angular</h1>
        <p>XP 550/1000</p>
      </div>
      <div class="tech-progress__bar">
        <circle-progress
          [percent]="progress4"
          [radius]="100"
          [showTitle]="true"
          [showUnits]="true"
          [showSubtitle]="true"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#D3D3D3'"
          [animation]="true"
          [animationDuration]="1200"
          [showImage]="true"
          [imageSrc]="imageAngular"
          [renderOnClick]="false"
          [responsive]="true"
        ></circle-progress>
      </div>
    </div>
    <div class="tech-content">
      <div class="tech-title">
        <h1>TypeScript</h1>
        <p>XP 450/1000</p>
      </div>
      <div class="tech-progress__bar">
        <circle-progress
          [percent]="progress5"
          [radius]="100"
          [showTitle]="true"
          [showUnits]="true"
          [showSubtitle]="true"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#D3D3D3'"
          [animation]="true"
          [animationDuration]="1200"
          [showImage]="true"
          [imageSrc]="imageTypescript"
          [renderOnClick]="false"
          [responsive]="true"
        ></circle-progress>
      </div>
    </div>
  </div>
</mat-sidenav-container>
