<mat-toolbar>
  <h1><a routerLink="/home" style="color:#00b759">< Ramon Trindade /></a></h1>
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon class="menu-color" *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon class="menu-color" *ngIf="sidenav.opened">close</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      src="assets/profile.jpg"
      alt="profile foto"
      class="avatar mat-elevation-z8"
      width="150px"
      height="160px"
    />
    <h4 class="name">Ramon Trindade</h4>
    <p class="designation">Desenvolvedor Front-End</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-button class="menu-button" routerLink="/projetos">
      <mat-icon>lan</mat-icon>
      <span>Projetos</span>
    </button>
    <button mat-button class="menu-button" routerLink="/tech-skills">
      <mat-icon>computer</mat-icon>
      <span>Tech Skills</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/about-me">
      <mat-icon>info</mat-icon>
      <span>Sobre mim</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="icons">
      <div class="contact__content">
        <a href="https://www.linkedin.com/in/ramontrndd/" target="_blank"
          ><img
            class="linkedin"
            src="assets/linkedin.png"
            alt="linkedin"
            width="35px"
            height="35px"
        /></a>
        <a href="https://github.com/ramontrndd" target="_blank"
          ><img
            class="git"
            src="assets/git-icon.png"
            alt="git-hub"
            width="35px"
            height="35px"
        /></a>
        <a href="https://t.me/ramontrndd" target="_blank"
          ><img
            class="telegram"
            src="assets/telegram-icon.svg"
            alt="telegram"
            width="35px"
            height="35px"
        /></a>
      </div>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
