mat-toolbar {
  background: #0f1216;
  color: #00B759;
}
mat-toolbar,
h1 {
  font-family: "Saira", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #0f1216;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.349) ;
}
mat-sidenav-container {
  height: calc(100vh - 65px);
  background-color: #000000ee;
}
.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  mat-icon {
    margin-right: 8px;
  }
}
.menu-color {
  color: white;
}
.mat-button,
span,
mat-icon {
  color: white;
}
.mat-button,
span {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
.name {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.designation {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  margin-top: 2px;
  font-size: 0.7rem;
  color: #828282;
}
mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #00B759;
}
.avatar {
  border-radius: 10px;
}

@media screen and (max-width: 375px) {
  mat-toolbar,
  h1 {
    font-size: 1.85rem;
  }
}
.git{
  margin-right: 25px;
}
