<mat-toolbar>
  <h1>< Ramon Trindade /></h1>
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon class="menu-color" *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon class="menu-color" *ngIf="sidenav.opened">close</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      src="/assets/profile.jpg"
      alt="profile foto"
      class="avatar mat-elevation-z8"
      width="150px"
      height="160px"
    />
    <h4 class="name">Ramon Trindade</h4>
    <p class="designation">Desenvolvedor Front-End</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-button class="menu-button" routerLink="/projetos">
      <mat-icon>construction</mat-icon>
      <span>Projetos</span>
    </button>
    <button mat-button class="menu-button" routerLink="/tech-skills">
      <mat-icon>dataset_linked</mat-icon>
      <span>Tech Skills</span>
    </button>
    <button mat-button class="menu-button"routerLink="/contact">
      <mat-icon>person</mat-icon>
      <span>Contato</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button"routerLink="/about-me">
      <mat-icon>info</mat-icon>
      <span>Sobre mim</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
