<mat-sidenav-container class="mat-elevation-z8 content">
  <div class="home-content">
    <div class="home-text">
      <h2 class="typing-cursor"> Olá, Mundo! /></h2>
      <p>
        Eu sou Ramon, um desenvolvedor front-end em transição de carreira, pronto
        para explorar novos horizontes no mundo da tecnologia. Minha jornada
        começou com a descoberta da paixão pelo desenvolvimento web e design de
        interfaces, e agora estou determinado a me tornar um desenvolvedor full
        stack. <br>Minha motivação para essa transição de carreira veio do desejo de
        expandir meu conjunto de habilidades e ter um impacto ainda maior na
        criação de soluções digitais. <br>A combinação de design e código sempre me
        intrigou, e como desenvolvedor front-end, adquiri experiência sólida em
        HTML, CSS e JavaScript, TypeScript, Angular criando interfaces atraentes
        e amigáveis. <br>A minha jornada de transição de carreira inclui a busca
        constante pelo aprendizado, conforme mergulho no estudo de tecnologias
        back-end, bancos de dados e servidores, tudo com o objetivo de me tornar
        um desenvolvedor full stack versátil e completo. Estou determinado a
        criar soluções completas e impactantes, desde a interface do usuário até
        a lógica de negócios.
      </p>
    </div>
    <img
      class="home-photo"
      src="assets/photo2.jpeg"
      alt="foto ilustrativa"
      width="350px"
      height="350px"
    />
  </div>
  <div class="home-download-cv">
    <a
      href="assets/RAMON_BRAIN TRINDADE ALMEIDA_Resume_02-11-2023-15-31-46.pdf"
      target="_blank"
      >Download CV</a
    >
  </div>
</mat-sidenav-container>
