.content {
  background-color: #0f1216;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.349);
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 30px;
  font-size: 2rem;
  color: lightgray;
  border-radius: 10px;
}
.home-content {
  display: flex;
  margin-left: 40px;
}
.home-text {
  width: 45vw;
  font-family: "Ubuntu", sans-serif;
  text-align: justify;
  line-height: 1.5rem;
  margin-right: 20px;
}
.home-text p {
  margin-top: 10px;
}
.home-text h2 {
  width: 195px;
  border-right: 2px solid rgba(255, 255, 255, 0.726);
  white-space: nowrap;
  overflow: hidden;
  color: #00b759;
  margin-top: 35px;
}
.home-photo {
  display: flex;
  border-radius: 50%;
  margin-top: 50px;
}
.content,
p {
  font-size: 1rem;
  font-weight: 400;
}
.typing-cursor {
  animation: blinkCursor 500ms infinite normal, typing 3s steps(50) normal;
}
a {
  color: white;
  text-decoration: none;
}
.home-download-cv {
  animation: gradient 3s ease-in infinite;
  background: linear-gradient(to right, rgb(166, 247, 80), rgb(49, 77, 166))
    border-box border-box;
  background-size: 300% 300%;
  text-align: center;
  width: 200px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 40px;
  margin-top: 15px;
  cursor: pointer;
}
@media screen and (min-width: 280px) and (max-width: 359px) {
  .home-content {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .home-photo {
    width: 150px;
    height: 150px;
  }
  .home-text p {
    width: 55vw;
    font-size: 0.7rem;
  }
  .home-download-cv {
    width: 150px;
    margin-bottom: 30px;
    margin-left: 45px;
  }
  .home-content h2 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 360px) and (max-width: 540px) {
  .home-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-left: 25px;
  }
  .home-photo {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .home-text p {
    width: 75vw;
  }
  .home-download-cv {
    margin-bottom: 20px;
    margin-left: 60px;
  }
}

@media screen and (min-width: 653px) and (max-width: 998px) {
  .home-content {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 4rem;
  }
  .home-text p {
    width: 55vw;
  }
  .home-photo {
    margin-left: 2.7rem;
    margin-top: 15px;
  }
  .home-download-cv {
    margin-left: 180px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1980px) and (max-width: 2560px) {
  .home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .home-text p {
    width: 55vw;
  }
  .home-download-cv {
    margin-left: 150px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes blinkCursor {
  from {
    border-right: 2px solid rgba(255, 255, 255, 0.726);
  }
  to {
    border-right: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 8em;
  }
}
