.content {
  background-color: #0f1216;
  height: calc(100vh - 98px);
  padding: 15px;
  margin: 16px;
  margin-left: 30px;
  white-space: pre-line;
  color: lightgray;
  border-radius: 10px;
}
.example-card {
  max-width: 250px;
}

.example-header-image {
  background-image: url("../../../assets/photo2.jpeg");
  background-size: cover;
}
mat-card {
  background-color: #0f1216;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px black;
  margin-bottom: 20px;
}
mat-card-title {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1rem;
}
mat-card-subtitle {
  color: rgba(255, 255, 255, 0.438);
}
mat-card-content,
p {
  color: rgba(255, 255, 255, 0.568);
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 0.7rem;
  margin-top: 5px;
  text-align: justify;
}
.card-button {
  animation: gradient 3s ease-in infinite;
  background: linear-gradient(to right, rgb(166, 247, 80), rgb(49, 77, 166))
    border-box border-box;
  background-size: 300% 300%;
  text-align: center;
  width: 200px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  border-radius: .5rem;
  padding: 1rem;
  margin: 5px auto;
  cursor: pointer;
}
.card-content{
  display: flex;
}
.card-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media screen and (min-width: 280px) and (max-width: 359px) {
  .card-content {
    width: 40vw;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}