<mat-sidenav-container class="mat-elevation-z8 content">
 <div class="card-container">
  <div class="card-content">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>MarketPlace Films</mat-card-title>
        <mat-card-subtitle>E-commerce Films</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/angular-card.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O projeto foi realizado usando os conhecimentos em HTML5, CSS5,
          JavaScript , Typescript e Framework Angular.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="card-button">
          <a
            href="https://github.com/ramontrndd/projeto-marketplace-angular"
            target="_blank"
            >GITHUB</a
          >
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="card-content">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>MarketPlace Films</mat-card-title>
        <mat-card-subtitle>E-commerce Films</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/javascript.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O projeto foi realizado usando os conhecimentos em HTML5, CSS5,
          JavaScript , Typescript e Framework Angular.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="card-button">
          <a
            href="https://github.com/ramontrndd/projeto-marketplace-angular"
            target="_blank"
            >GITHUB</a
          >
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="card-content">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>MarketPlace Films</mat-card-title>
        <mat-card-subtitle>E-commerce Films</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../../assets/typescript.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          O projeto foi realizado usando os conhecimentos em HTML5, CSS5,
          JavaScript , Typescript e Framework Angular.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="card-button">
          <a
            href="https://github.com/ramontrndd/projeto-marketplace-angular"
            target="_blank"
            >GITHUB</a
          >
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
 </div> 
 
 
</mat-sidenav-container>
