
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,600;0,700;1,100;1,300&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@1,100&family=Ubuntu:wght@300;400;500;700&display=swap');

/* FONTE */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  color: white;
  text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
