.content {
    background-color: #0f1216;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.349) ;
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 30px;
    color: lightgray;
    border-radius: 10px;
  }